@import
  'abstracts/variables',
  'abstracts/mixins';
@import
  'base/reset';

@import
  'components/countries',
  'components/current-wheather',
  'components/forecast',
  'components/greeting',
  'components/highlights',
  'components/search-field',
  'components/theme-toggle';

  @font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-VariableFont_opsz_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html, body {
  font-family: "Inter";
  background-color: #080808;
  display: grid;
  grid-template-rows: auto 1fr; 
  height: 100vh;
  overflow: hidden; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 100px;
  margin-top: 30px;
}
.header__controls {
  display: flex;
  gap: 320px;
}
.dashboard {
  display: grid;
  grid-template-columns: 556px 664px;
  gap: 24px;
  place-content: center;

  &__current, 
  &__countries, 
  &__highlights, 
  &__forecast {
    padding: 20px;         
    border-radius: 20px;    
    background-color: #1b1b1b;
  }
}
  .left-column,
  .right-column {
    display: flex;
    gap: 24px;
    flex-direction: column;
}