.header__search {
    position: relative;
    width: 420px;
    height: 56px;
}
.header__search-input {
    width: 100%;
    height: 100%;
    padding-left: 70px;
    border-radius: 36px;
    background-color: #1f1f1f;
    color: #5e5e5e;
    font-size: $font-size-middle;
    border: none;
}
.header__search-icon {
    position: absolute;
    left: $font-size-title;
    top: 50%;
    transform: translateY(-50%);
}